@model RoyalJay.BikeInventory.Data.Models.Bike

<div class="modal fade bike-modal">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="with: bike">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span data-bind="visible: $root.editing() && Id() < 1">
                        Add a New Bike
                    </span>
                    <span data-bind="visible: $root.editing() && Id() > 0">
                        Edit Bike
                    </span>
                    <span data-bind="visible: !$root.editing()">
                        Bike Details
                    </span>
                </h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group" data-bind="validationElement: Code">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="Code" type="text" class="form-control" data-bind="value: Code" />
                            <span class="text-danger" data-bind="validationMessage: Code"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Code"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: Description">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="Description" type="text" class="form-control" data-bind="value: Description" />
                            <span class="text-danger" data-bind="validationMessage: Description"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Description"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: Brand">
                        @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="Brand" type="text" class="form-control" data-bind="value: Brand" />
                            <span class="text-danger" data-bind="validationMessage: Brand"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Brand"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: Model">
                        @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="Model" type="text" class="form-control" data-bind="value: Model" />
                            <span class="text-danger" data-bind="validationMessage: Model"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Model"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: SizeId">
                        @Html.LabelFor(model => model.SizeId, "SizeId", htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="SizeId" type="text" class="form-control" data-bind="value: SizeId" />
                            <span class="text-danger" data-bind="validationMessage: SizeId"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Size() && Size().Description()"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: Color">
                        @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="Color" type="text" class="form-control" data-bind="value: Color" />
                            <span class="text-danger" data-bind="validationMessage: Color"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Color"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: TypeId">
                        @Html.LabelFor(model => model.TypeId, "TypeId", htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="TypeId" type="text" class="form-control" data-bind="value: TypeId" />
                            <span class="text-danger" data-bind="validationMessage: TypeId"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Type() && Type().Description()"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: Price">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="Price" type="text" class="form-control" data-bind="value: Price" />
                            <span class="text-danger" data-bind="validationMessage: Price"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Price"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: Quantity">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10" data-bind="visible: $root.editing">
                            <input id="Quantity" type="text" class="form-control" data-bind="value: Quantity" />
                            <span class="text-danger" data-bind="validationMessage: Quantity"></span>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: Quantity"></div>
                    </div>

                    <div class="form-group" data-bind="validationElement: InStorage">
                        @Html.LabelFor(model => model.InStorage, htmlAttributes: new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10 form-control-static" data-bind="visible: $root.editing">
                            <div class="checkbox">
                                <input id="InStorage" type="checkbox" data-bind="value: InStorage" />
                                <span class="text-danger" data-bind="validationMessage: InStorage"></span>
                            </div>
                        </div>
                        <div class="col-sm-10 form-control-static" data-bind="visible: !$root.editing(), text: InStorage() ? 'Yes' : 'No'"></div>
                    </div>

                    <!-- ko if: !$root.editing() -->

                    <div class="form-group text-muted">
                        <label class="control-label col-sm-2">Created</label>
                        <div class="form-control-static col-sm-10">
                            <span data-bind="text: CreatedDate().toShortDateTimeString()"></span>
                            - <span data-bind="text: CreatedUsername"></span>
                        </div>
                    </div>

                    <!-- ko if: LastModifiedDate() != null -->

                    <div class="form-group text-muted">
                        <label class="control-label col-sm-2">Modified</label>
                        <div class="form-control-static col-sm-10">
                            <span data-bind="text: LastModifiedDate().toShortDateTimeString()"></span>
                            - <span data-bind="text: LastModifiedUsername"></span>
                        </div>
                    </div>

                    <!-- /ko -->
                    <!-- /ko -->

                </div>
            </div>

            <div class="modal-footer" data-bind="visible: $root.editing()">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save" data-bind="text: Id() > 0 ? 'Save' : 'Create'"></button>
            </div>

            <div class="modal-footer" data-bind="visible: !$root.editing()">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning edit">Edit</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
